<!DOCTYPE html>
<html ng-app="agenda_contato">
	<head>
		<title>Bem Vindo Agenda de Contatos</title>
		<meta name="viewport" content="width=device-width">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/appAgenda.css">		
	</head>
	<body class="container">
		

	<%if (usuarioLogado.length > 0) { %>
		<div class="text-right">
			<p>
				Logado como: <span id="usuario-logado"> <%=usuarioLogado %> </span>
				<a href="/logout">Logout</a>
			</p>
		</div>		
	<% } %>

		<div ng-view></div>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-route/angular-route.js"></script>
		<script src="lib/angular-resource/angular-resource.js"></script>		
		<script src="js/main.js"></script>
		<script src="js/services/contatoService.js"></script>
		<script src="js/services/InterceptorService.js"></script>						
		<script src="js/controllers/contatosController.js"></script>
		<script src="js/controllers/contatoController.js"></script>

	</body>
</html>