<!DOCTYPE html>
<html>
<head>
	<title>Página não encontrada</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<!-- build:css css/404.min.css -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.css">
	<!-- endbuild -->

</head>
<body>
	<div class="container">
		<div class="jumbotron" style="margin-top: 20px; text-align: center;">
			<h1>Página não encontrada</h1>
		</div>
		<h2 class="text-center">
			<a href="/">Voltar para página principal</a>
		</h2>		
	</div>
</body>
</html>